.site-navbar .site-logo a {
    color: white;
}

.site-navbar .site-navigation .site-menu>li>a {
    padding: 5px 20px;
    color:white;
    display: inline-block;
    text-decoration: none!important;
}

.publication{
    font-style: italic;
}

.publication .name{
    font-style: normal;
}

.publication a{
    font-style: normal;
    font-weight: bold;
    color: cornflowerblue;
}

.publication .name .myname{
    text-decoration: underline;
}

.icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #eaf4fb;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
} 

.site-section{
    padding-bottom: 0px!important;
}
.img-fluid-2{
    height: 200px;
    width: 100%;
}
.drop-down{
    visibility: hidden;
    position: absolute;
    margin-left: -40px;
}

.drop-down li{
    list-style-type: none;  
}

.drop-down li a {
    color: white;
}

.drop-down .nav-link:hover{
    color:greenyellow;
}

.drop-down-menu:hover .drop-down{
    visibility: visible;
}

.text-div{
margin-left: 0px;
}

footer{
    background-color: white;
}